@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/Open Sans - Regular .ttf"); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../fonts/Open Sans - Semibold.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-Regular.otf"); }

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans; }

a {
  text-decoration: none; }

.g-container {
  max-width: 1145px;
  width: 100%; }

.background-activ {
  background-color: #d3d3d3; }

.orange-lite {
  color: #ff5c36; }

@keyframes animation-Menu {
  0% {
    top: -318px;
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0,9;
    top: 0; } }

@keyframes animation-Menu__reverse {
  0% {
    top: 0px; }
  100% {
    top: -318px; } }

.animationIcon .icon1 {
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  transition: transform 0.8s; }

.animationIcon .icon2 {
  position: absolute;
  top: 10px;
  opacity: 0; }

.animationIcon .icon3 {
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  transition: transform 0.8s; }

.animationIcon-reverse .icon1 {
  animation: animationIcon 0.4s; }

.animationIcon-reverse .icon2 {
  animation: animationIcon2 0.4s; }

.animationIcon-reverse .icon3 {
  animation: animationIcon 0.4s; }

@keyframes animationIcon {
  0% {
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: transform 0.4s; }
  100% {
    position: relative;
    top: 0;
    transform: none; } }

@keyframes animationIcon2 {
  0% {
    position: absolute;
    top: 10px;
    opacity: 0;
    transform: scale(0); }
  20% {
    opacity: 0; }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
    transform: scale(1); } }

.header-form > .form > .form-style {
  border-bottom: 1px solid  red;
  outline: none; }

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/Open Sans - Regular .ttf"); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../fonts/Open Sans - Semibold.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-Regular.otf"); }

header {
  width: 100%;
  display: flex;
  justify-content: center; }

.header-logo-menu {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .header-logo-menu .logo {
    border: 2px solid #626262;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; }
    .header-logo-menu .logo p, .header-logo-menu .logo span {
      font-family: OpenSans-Semibold;
      font-size: 38px;
      color: #626262; }
    .header-logo-menu .logo span {
      color: #fc6744; }
  .header-logo-menu .header-menu {
    display: flex;
    align-items: center; }
    .header-logo-menu .header-menu ul {
      display: flex;
      list-style-type: none;
      font-size: 28px; }
    .header-logo-menu .header-menu li {
      margin: 0 8px 0 8px; }
    .header-logo-menu .header-menu a {
      color: #626262; }
    .header-logo-menu .header-menu li :hover {
      color: #fc6744;
      transition: color 0.3s; }
  .header-logo-menu .contain-burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header-logo-menu .contain-burger .burger .burger-icon {
      width: 40px;
      height: 6px;
      background-color: #626262; }
    .header-logo-menu .contain-burger .burger .icon1, .header-logo-menu .contain-burger .burger .icon2 {
      margin-bottom: 4px; }

.header-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px; }
  .header-title .title-contain {
    width: 65%; }
    .header-title .title-contain h1 {
      font-family: OpenSans-Semibold;
      font-size: 50px;
      text-align: center;
      margin-bottom: 30px;
      color: #626262; }
      .header-title .title-contain h1 span {
        color: #ff5c36; }
    .header-title .title-contain p {
      text-align: center;
      font-size: 16px;
      color: #626262; }

.header-form {
  display: flex;
  margin-top: 150px;
  margin-left: 2%;
  border-radius: 5px; }
  .header-form .form {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    background: white; }
    .header-form .form h2 {
      font-size: 22px;
      color: #626262;
      margin-bottom: 30px;
      text-align: center; }
    .header-form .form span {
      color: #fc6744; }
    .header-form .form input, .header-form .form textarea {
      border: none;
      border-bottom: 1px solid #626262;
      max-width: 294px;
      width: 100%;
      height: 40px;
      font-size: 20px;
      margin-top: 3px; }
    .header-form .form p {
      font-size: 20px;
      display: none;
      color: red; }
    .header-form .form .form-warning-text {
      display: block; }
    .header-form .form textarea {
      height: 116px;
      resize: none; }
    .header-form .form .btn-contain {
      margin-top: 30px;
      display: flex;
      justify-content: center; }
      .header-form .form .btn-contain button {
        cursor: pointer;
        width: 238px;
        height: 58px;
        background-color: #ff5c36;
        border-radius: 100px;
        color: white;
        font-size: 16px;
        transition: background-color .7s linear 0.2s; }
      .header-form .form .btn-contain span {
        color: white;
        margin-left: 5px;
        font-size: 18px; }
      .header-form .form .btn-contain button:hover {
        transition: 0.7s;
        background-color: #e9431e; }

@media screen and (max-width: 1024px) {
  .header-logo-menu {
    padding-top: 40px; }
    .header-logo-menu .logo {
      margin-left: 2%; }
      .header-logo-menu .logo p {
        font-size: 34px; }
      .header-logo-menu .logo span {
        font-size: 34px; }
  .header-title .title-contain {
    width: 70%; }
    .header-title .title-contain h1 {
      font-size: 40px; }
  .header-form {
    width: 100%;
    justify-content: center;
    margin-left: 0%; } }

@media screen and (max-width: 768px) {
  .header-logo-menu {
    padding-top: 22px;
    flex-direction: column; }
    .header-logo-menu .logo {
      max-width: 75px;
      height: 30px; }
      .header-logo-menu .logo p {
        font-size: 26px; }
      .header-logo-menu .logo span {
        font-size: 26px; }
    .header-logo-menu .header-menu {
      display: none;
      margin-right: 0px; }
      .header-logo-menu .header-menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0px;
        height: 231px;
        padding-top: 30px;
        width: 100%;
        border-radius: 5px;
        padding-bottom: 20px; }
        .header-logo-menu .header-menu ul li {
          text-shadow: 0px 0px 15px white; }
          .header-logo-menu .header-menu ul li a {
            color: #fc6744; }
          .header-logo-menu .header-menu ul li a:active {
            color: red; }
      .header-logo-menu .header-menu .header-menu__activ {
        background: black;
        opacity: 0.9;
        animation: animation-Menu  0.4s; }
      .header-logo-menu .header-menu .header-menu__passive {
        background: black;
        opacity: 0.9;
        animation: animation-Menu__reverse 0.4s; }
    .header-logo-menu .db {
      display: block; }
    .header-logo-menu .dn {
      display: none; }
    .header-logo-menu .contain-burger {
      display: block; }
      .header-logo-menu .contain-burger .burger {
        position: fixed;
        width: 42px;
        margin-top: -34px;
        margin-left: 88%; }
  .header-title {
    margin-top: 170px; }
  .header-form {
    margin-top: 130px; }
    .header-form .form textarea {
      margin-bottom: 40px; }
    .header-form .form p {
      font-size: 18px;
      margin-top: -27px; } }

@media screen and (max-width: 425px) {
  .header-logo-menu {
    padding-top: 12px; }
    .header-logo-menu .logo {
      max-width: 16%;
      height: 19px; }
      .header-logo-menu .logo p, .header-logo-menu .logo span {
        font-size: 16px; }
    .header-logo-menu .header-menu ul {
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 10px; }
    .header-logo-menu .contain-burger .burger {
      width: 31px;
      margin-top: -29px;
      margin-left: 86%; }
      .header-logo-menu .contain-burger .burger .burger-icon {
        width: 28px;
        height: 4px; }
  .header-title {
    margin-top: 110px; }
    .header-title .title-contain h1 {
      font-size: 30px; }
  .header-form {
    margin-top: 130px; }
    .header-form .form {
      width: 100%; }
      .header-form .form h2 {
        font-size: 20px; }
      .header-form .form input, .header-form .form textarea {
        margin-left: 4%;
        max-width: 220px;
        font-size: 14px; }
      .header-form .form p {
        font-size: 14px; }
      .header-form .form textarea {
        height: 90px; }
      .header-form .form .btn-contain {
        margin-top: 20px; }
        .header-form .form .btn-contain a button {
          width: 160px;
          height: 50px;
          font-size: 14px; } }
