@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/Open Sans - Regular .ttf"); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../fonts/Open Sans - Semibold.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-Regular.otf"); }

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans; }

a {
  text-decoration: none; }

.g-container {
  max-width: 1145px;
  width: 100%; }

.background-activ {
  background-color: #d3d3d3; }

@keyframes animation-Menu {
  0% {
    top: -318px;
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0,9;
    top: 0; } }

@keyframes animation-Menu__reverse {
  0% {
    top: 0px; }
  100% {
    top: -318px; } }

.animation-burger .burger-line:first-child {
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  transition: transform 0.8s; }

.animation-burger .burger-line:nth-child(2) {
  position: absolute;
  top: 10px;
  opacity: 0; }

.animation-burger .burger-line:last-child {
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  transition: transform 0.8s; }

.animation-burger__reverse .burger-line:first-child {
  animation: animationIcon 0.4s; }

.animation-burger__reverse .burger-line:nth-child(2) {
  animation: animationIcon2 0.4s; }

.animation-burger__reverse .burger-line:last-child {
  animation: animationIcon 0.4s; }

@keyframes animationIcon {
  0% {
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: transform 0.4s; }
  100% {
    position: relative;
    top: 0;
    transform: none; } }

@keyframes animationIcon2 {
  0% {
    position: absolute;
    top: 10px;
    opacity: 0;
    transform: scale(0); }
  20% {
    opacity: 0; }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
    transform: scale(1); } }

.header-form > form > .form-style {
  border-bottom: 1px solid  red;
  outline: none; }

.header-logo-menu .db {
  display: block; }

.header-logo-menu .dn {
  display: none; }

.header-logo-menu .header-menu__activ {
  background: black;
  opacity: 0.9;
  animation: animation-Menu  0.4s; }

.header-logo-menu .header-menu__passive {
  background: black;
  opacity: 0.9;
  animation: animation-Menu__reverse 0.4s; }

.header-form .form-warning-text {
  display: block; }

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/Open Sans - Regular .ttf"); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../fonts/Open Sans - Semibold.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-Regular.otf"); }

header {
  width: 100%;
  display: flex;
  justify-content: center; }

.header-logo-menu {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .header-logo-menu .header-logo {
    border: 3px solid #626262;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; }
  .header-logo-menu .header-logo__item, .header-logo-menu span {
    font-family: OpenSans-Semibold;
    font-size: 38px;
    color: #626262; }
    .header-logo-menu .header-logo__item span, .header-logo-menu span span {
      color: #fc6744; }
  .header-logo-menu .header-menu {
    display: flex;
    align-items: center; }
  .header-logo-menu .header-menu__list {
    display: flex;
    list-style-type: none;
    font-size: 28px; }
  .header-logo-menu .header-list__item {
    margin: 0 8px 0 8px; }
  .header-logo-menu .header-list__link {
    color: #626262; }
  .header-logo-menu .header-list__item :hover {
    color: #fc6744;
    transition: color 0.3s; }
  .header-logo-menu .contain-burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header-logo-menu .burger-line {
    width: 40px;
    height: 6px;
    background-color: #626262; }
  .header-logo-menu .burger-line:first-child {
    margin-bottom: 4px; }
  .header-logo-menu .burger-line:nth-child(2) {
    margin-bottom: 4px; }

.header-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px; }
  .header-title .title-contain {
    width: 65%; }
  .header-title .header-headline {
    font-family: OpenSans-Semibold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: #626262; }
    .header-title .header-headline span {
      color: #ff5c36; }
  .header-title .header-title__text {
    text-align: center;
    font-size: 18px;
    color: #626262; }

.header-form {
  display: flex;
  margin-top: 150px;
  margin-left: 2%;
  border-radius: 5px; }
  .header-form form {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    background: white; }
  .header-form .header-form__headline {
    font-size: 22px;
    color: #626262;
    margin-bottom: 30px;
    text-align: center; }
    .header-form .header-form__headline span {
      color: #fc6744; }
  .header-form input, .header-form textarea {
    border: none;
    border-bottom: 1px solid #626262;
    max-width: 294px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-top: 3px; }
  .header-form .header-form__warning {
    font-size: 20px;
    display: none;
    color: red; }
  .header-form textarea {
    height: 116px;
    resize: none; }
  .header-form .btn-contain {
    margin-top: 30px;
    display: flex;
    justify-content: center; }
  .header-form .button {
    cursor: pointer;
    width: 238px;
    height: 58px;
    background-color: #ff5c36;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    transition: background-color .7s linear 0.2s;
    word-spacing: 3px; }
  .header-form .button:hover {
    transition: 0.7s;
    background-color: #e9431e; }

@media screen and (max-width: 1024px) {
  .header-logo-menu {
    padding-top: 40px; }
    .header-logo-menu .header-logo {
      margin-left: 2%; }
    .header-logo-menu .header-logo__item {
      font-size: 34px; }
      .header-logo-menu .header-logo__item span {
        font-size: 34px; }
    .header-logo-menu .header-menu {
      margin-right: 13px; }
  .header-title .title-contain {
    width: 70%; }
  .header-title .header-headline {
    font-size: 40px; }
  .header-form {
    width: 100%;
    justify-content: center;
    margin-left: 0%; } }

@media screen and (max-width: 768px) {
  .header-logo-menu {
    padding-top: 22px;
    flex-direction: column; }
    .header-logo-menu .header-logo {
      max-width: 75px;
      height: 30px; }
    .header-logo-menu .header-logo__item {
      font-size: 26px; }
      .header-logo-menu .header-logo__item span {
        font-size: 26px; }
    .header-logo-menu .header-menu {
      display: none;
      margin-right: 0px; }
    .header-logo-menu .header-menu__list {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      top: 0px;
      height: 231px;
      padding-top: 30px;
      width: 100%;
      border-radius: 5px;
      padding-bottom: 20px; }
    .header-logo-menu .header-list__item {
      text-shadow: 0px 0px 15px white; }
    .header-logo-menu .header-list__link {
      color: #fc6744; }
    .header-logo-menu .header-list__link:active {
      color: red; }
    .header-logo-menu .contain-burger {
      display: block; }
    .header-logo-menu .burger {
      position: fixed;
      width: 42px;
      margin-top: -34px;
      margin-left: 88%; }
  .header-title {
    margin-top: 170px; }
  .header-form {
    margin-top: 130px; }
    .header-form textarea {
      margin-bottom: 40px; }
    .header-form .header-form__warning {
      font-size: 18px;
      margin-top: -27px; } }

@media screen and (max-width: 425px) {
  .header-logo-menu {
    padding-top: 12px; }
    .header-logo-menu .header-logo {
      max-width: 16%;
      height: 19px;
      border: 2px solid #626262;
      padding: 3px; }
    .header-logo-menu .header-logo__item {
      font-size: 16px; }
      .header-logo-menu .header-logo__item span {
        font-size: 16px; }
    .header-logo-menu .header-menu__list {
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 10px; }
    .header-logo-menu .burger {
      width: 31px;
      margin-top: -29px;
      margin-left: 86%; }
    .header-logo-menu .burger-line {
      width: 28px;
      height: 4px; }
    .header-logo-menu .burger-line:first-child {
      margin-bottom: 3px; }
    .header-logo-menu .burger-line:nth-child(2) {
      margin-bottom: 3px; }
  .header-title {
    margin-top: 110px; }
    .header-title .header-headline {
      font-size: 30px; }
    .header-title .header-title__text {
      font-size: 14px; }
  .header-form {
    margin-top: 130px; }
    .header-form form {
      width: 100%; }
    .header-form .header-form__headline {
      font-size: 20px; }
    .header-form input, .header-form textarea {
      margin-left: 4%;
      max-width: 220px;
      font-size: 14px; }
    .header-form .header-form__warning {
      font-size: 14px; }
    .header-form textarea {
      height: 90px; }
    .header-form .btn-contain {
      margin-top: 20px; }
    .header-form .button {
      width: 160px;
      height: 50px;
      font-size: 14px;
      word-spacing: 2px; } }
