@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/Open Sans - Regular .ttf"); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../fonts/Open Sans - Semibold.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-Regular.otf"); }
