@import '../variable.scss';
* {
    margin: 0;
    padding: 0;
    font-family: OpenSans;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
}

a {
    text-decoration: none;
}

.g-container{
    max-width: 1145px;
    width: 100%;
}
.g-hidden{
    display: none;
}
.df{
    display: flex;
}
.margin-top{
    margin-top: 120px;
}
@media screen and (max-width :$tablet){
    .margin-top{
        margin-top: 80px;
    }
}
@keyframes animation-Menu{
    0%{
        top: -318px;
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0,9;
        top: 0;
    }
};

@keyframes animation-Menu__reverse{
    0%{
        top: 0px;
    }
    100%{
        top: -318px;
    }
};

.headline{
    display: flex;
    justify-content: center;
    font-family: OpenSans-Semibold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;  
    color: $text-gray;  
    span {
        color : $orange;
    }
    p{
        margin-left:10px;
    }
}
.title__text{
    text-align: center;
    font-size: 18px;
    color: $text-gray;  
}

@media screen and (max-width :$desktop){
    .headline{
        font-size: 40px;
    }
    .title__text{
        width: 80%;
        text-align: center;
    }
}
@media screen and (max-width :$phone){
    .headline{
        font-size: 30px;
        margin-bottom: 15px;
        p{
            margin-left:5px;
        }
    }
    .title__text{
        font-size: 14px;
    }
}


.animation-burger{
    .burger-line:first-child{
        position: absolute;
        top:  10px;
        transform: rotate(45deg);
        transition: transform 0.8s;
    }
    .burger-line:nth-child(2){
        position: absolute;
        top: 10px;
        opacity: 0;
    }
    .burger-line:last-child{
        position: absolute;
        top:10px;
        transform: rotate(-45deg);
        transition: transform 0.8s;
    }
}
.animation-burger__reverse{
    .burger-line:first-child{
        animation: animationIcon 0.4s;
    }
    .burger-line:nth-child(2){
        animation: animationIcon2 0.4s;
    }
    .burger-line:last-child{
        animation: animationIcon 0.4s;
    }
}

@keyframes animationIcon{
    0%{
        position: absolute;
        top:  10px;
        transform: rotate(45deg);
        transition: transform 0.4s;
    }
    100%{
        position: relative;
        top: 0;
        transform: none;
    }
}
@keyframes animationIcon2{
    0%{        
        position: absolute;
        top: 10px;
        opacity: 0;
        transform: scale(0)
    }
    20%{
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        opacity: 1;
        transform: scale(1);
    }
}
.header-form > form > .form-style{
    border-bottom: 1px solid  red;
    outline: none;
}

//----------------------------------------are used in js------------------------------------------------------------
.header-logo-menu{
    .db{
        display: block;
    }
    .dn{
        display: none;
    }
    .header-menu__activ{
        background: black;
        opacity: 0.9;
        animation: animation-Menu  0.4s;
        z-index: 10;
    }
    .header-menu__passive{
        background: black;
        opacity: 0.9;
        animation: animation-Menu__reverse 0.4s; 
        z-index: 10;
    }
}

.header-form{
    .form-warning-text{
        display: block;
    }
}
@keyframes animation-text{
    0%{
        margin-left: -200px;
        padding-right: 200px;
        opacity: 0.1;
    }
    50%{
        margin-left: -100px;
        padding-right: 100px;
        opacity: 0.2; 
    }
    100%{
        margin-left: 0;
        padding-right: 0;
        opacity: 1;
    }
}
@keyframes animation-text-mobile{
    0%{
        margin-top: -200px;
        padding-bottom: 200px;
        opacity: 0.1;
    }
    50%{
        margin-top: -100px;
        padding-bottom: 100px;
        opacity: 0.2; 
    }
    100%{
        margin-top: 0;
        padding-bottom: 0;
        opacity: 1;
    }
}

