@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/Open Sans - Regular .ttf"); }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../fonts/Open Sans - Semibold.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../../fonts/SourceSansPro-Regular.otf"); }

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans; }

a {
  text-decoration: none; }

.g-container {
  max-width: 1145px;
  width: 100%; }

.background-activ {
  background-color: #d3d3d3; }

.orange-lite {
  color: #ff5c36; }

@keyframes animation-Menu {
  0% {
    top: -318px;
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0,9;
    top: 0; } }

@keyframes animation-Menu__reverse {
  0% {
    top: 0px; }
  100% {
    top: -318px; } }

.animationIcon .icon1 {
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  transition: transform 0.8s; }

.animationIcon .icon2 {
  position: absolute;
  top: 10px;
  opacity: 0; }

.animationIcon .icon3 {
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  transition: transform 0.8s; }

.animationIcon-reverse .icon1 {
  animation: animationIcon 0.4s; }

.animationIcon-reverse .icon2 {
  animation: animationIcon2 0.4s; }

.animationIcon-reverse .icon3 {
  animation: animationIcon 0.4s; }

@keyframes animationIcon {
  0% {
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: transform 0.4s; }
  100% {
    position: relative;
    top: 0;
    transform: none; } }

@keyframes animationIcon2 {
  0% {
    position: absolute;
    top: 10px;
    opacity: 0;
    transform: scale(0); }
  20% {
    opacity: 0; }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
    transform: scale(1); } }

.header-form > .form > .form-style {
  border-bottom: 1px solid  red;
  outline: none; }
