@import 'global/global.scss';
@import './variable.scss';


//----------------------------------------HEADER-----------------------------------------------------------------
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-logo-menu{
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .header-logo{
        border: 3px solid $text-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .header-logo__item, span{
        font-family: OpenSans-Semibold;
        font-size: 38px;
        color : $text-gray;
        span{
            color: $orange-light;
            }    
    }
    .header-menu{
        display: flex;
        align-items: center;
    }
    .header-menu__list{
        display: flex;
        list-style-type: none;
        font-size: 28px;
    }
    .header-list__item{
        margin: 0 8px 0 8px;
    }
    .header-list__link{
        color :$text-gray;
    }
    .header-list__item :hover {
        color : $orange-light;
        transition: color 0.3s;
    }
    .contain-burger{ 
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .burger-line{
        width: 40px;
        height: 6px;
        background-color: $text-gray;
    }
    .burger-line:first-child{
        margin-bottom: 4px;
    }
    .burger-line:nth-child(2){
        margin-bottom: 4px; 
    }
}

.header-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    .title-contain{
    width: 65%;
    }
}

.header-form{
    display: flex;
    margin-top: 150px;
    margin-left: 2%;
    border-radius: 5px;
    form{
        display: flex;
        flex-direction: column;
        padding: 10px 50px;
        background: white;
    }
    .header-form__headline{
        font-size: 22px;
        color: $text-gray;
        margin-bottom: 30px;
        text-align: center;
        span{
            color : $orange-light;
        }
    }
    input, textarea{
        border: none;
        border-bottom: 1px solid $text-gray;
        max-width: 294px;
        width: 100%;
        height: 40px;
        font-size: 20px;
        margin-top: 3px;
    }
    .header-form__warning{
        font-size: 20px;
        display: none;
        color: red;
    }
    textarea{
        height: 116px;
        resize: none;  
    }
    .btn-contain{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .button{
        cursor: pointer;
        width: 238px;
        height: 58px;
        background-color:$orange;
        border-radius: 100px;
        color:white;
        font-size: 16px;
        transition : background-color .7s linear 0.2s;
        word-spacing: 3px;
    }
    .button:hover{
        transition: background-color 0.7s;
        background-color: #e9431e;
    }
}
.process-section-item{
    .process-btn-animations{
    box-shadow: 0 0 10px 0 #ff5c36 inset, 0 0 10px 4px #ff5c36;
    background-color: white;
    .button:hover{
        background-color: white;
    }
    }
}

//----------------------------------------HEADER MEDIA SCREEN-----------------------------------------------------------------

@media screen and (max-width :$desktop){
    .header-logo-menu{
        padding-top: 40px;
        .header-logo{
            margin-left: 2%;
        }
        .header-logo__item{
            font-size: 34px;
            span{
                font-size: 34px;
            }
        }
        .header-menu{
            margin-right: 13px;
        }
        .burger{
            z-index: 99;
        }
    }

    .header-title{
        .title-contain{
            width: 70%;
        }
    }

    .header-form{
        width: 100%;
        justify-content: center;
        margin-left: 0%;
    }
}

@media screen and (max-width :$tablet){
    .header-logo-menu{
        padding-top: 22px;
        flex-direction: column;
        .header-logo{
            max-width: 75px;
            height: 30px;
        }
        .header-logo__item{
            font-size: 26px;
            span{
                font-size: 26px;
            }
        }
        .header-menu{
            display: none;
            margin-right: 0px;
        }
        .header-menu__list{
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: fixed;
            top: 0px;
            height: 231px;
            padding-top: 30px;
            width: 100%;
            border-radius: 5px;
            padding-bottom: 20px;
        }
        .header-list__item{
            text-shadow: 0px 0px 15px white;
        }
        .header-list__link{
            color : $orange-light;
        }
        .header-list__link:active{
            color:red;
        }
        .contain-burger{
            display: block;
        }
        .burger{
            position: fixed;
            width: 42px;
            margin-top: -34px;
            margin-left: 88%;
        }
    }
    .header-title{
        margin-top: 170px;
    }
    .header-form{
        margin-top: 130px;
        textarea{
            margin-bottom: 40px;
        }
        .header-form__warning{
            font-size: 18px;
            margin-top: -27px;
        }
    }
}

@media screen and (max-width :$phone){
    .header-logo-menu{
        padding-top: 12px;
        .header-logo{
            max-width: 16%;
            height: 19px;
            border: 2px solid $text-gray;
            padding: 3px;
        }
        .header-logo__item{
            font-size: 16px;
            span{
                font-size: 16px;  
            }
        }
        .header-menu__list{
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .burger{
            width: 31px;
            margin-top: -29px;
            margin-left: 86%;
        }
        .burger-line{
            width: 28px;
            height: 4px;
        }            
        .burger-line:first-child{
            margin-bottom: 3px;
        }
        .burger-line:nth-child(2){
            margin-bottom: 3px; 
        }
    }
    .header-title{
        margin-top: 110px;
    }
    .header-form{
        margin-top: 130px;
        form {
           width: 100%;
        }
        .header-form__headline{
            font-size: 20px;
        }
        input,textarea {
            margin-left: 4%;
            max-width: 220px;
            font-size: 14px;
        }
        .header-form__warning{
            font-size: 14px;
        }
        textarea{
            height: 90px;
        }
        .btn-contain{
            margin-top: 20px;
        }
        .button{
            width: 160px;
            height: 50px;
            font-size: 14px;
            word-spacing: 2px;
        }
    }
}

//----------------------------------------WORKING PROCESS--------------------------------------------------------------
.process {
    display: flex;
    justify-content: center;
}
.process-container{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.process-section__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.process-section-item{
min-width: 180px;
width: 22%;
height: 263px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 15px;
}
.process-item-blue{
    background-color: #4eb2f7;
}
.process-item-violet{
    background-color: #c049f8;
}
.process-item-dark_blue{
    background-color: #817eff;
}
.process-item-red{
    background-color: #f74770;
}




.process-item__icon{
    margin-bottom: 15px;
    opacity: 0.8;
}
.process-icon-U{
    p{
        font-family: sans-serif;
        font-size: 50px;
        color : white;
        font-weight: 900;
    }
    hr{
        width: 40px;
        height: 5px;
        border: none;
        margin: -37px 0 20px 0px;
        background: #4eb2f7;
        position: absolute;
    }

}

.icon-beetle{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: -70px;
    .beetle-head{
        background-color: white;
        width: 20px;
        height: 10px;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    }
    .line-space{
        width: 40px;
        height: 4px;
        border: none;
    }
    .beetle-body{
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 5% 5% 50% 50%;

    }
    .beetle-legs{
        width: 55px;
        height: 4px;
        background: white;
        border-radius: 40px;
    }
    .legs-front{
        transform: rotate(35deg);
        margin-top: -20px;
        margin-left: -2px;
    }
    .legs-middle{
        width: 50px;
        margin-top: -5px;
    }
    .legs-hind{
        margin-top: -3px;
        transform: rotate(-35deg);
    }
    .line-space-end{
        width: 4px;
        height: 28px;
        background: #c049f8;
        margin-top: 16px;
        position: absolute;
    }
}

.beetle-margin{
    margin-top: 80px;
}

.icon-cogwheel{
    width: 70px;
    height: 70px;
    display: flex;
    margin-bottom: 10px;
    .item-cogwheel{
        background: url("../../image/cogwheel.png") no-repeat;
        background-size: cover;
        position: absolute;
    }
    .cogwheel_1{
        width: 50px;
        height: 50px;
    }
    .cogwheel_2{
        width: 35px;
        height: 35px;
        margin-left: 35px;
    }
    .cogwheel_3{
        width: 35px;
        height: 35px;
        margin-top: 24px;
        margin-left: 32px;
    }
}

.icon-photo-camera{
    height: 72px;
    margin-bottom: 10px;
    .image-photo-camera{
        width: 100px;
        height: 720px;
        background: url("../../image/photo_camera.png") no-repeat;
        background-size: contain;
    }
}
.process-item__title{
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    font-weight: 900;
    opacity: 0.8;
}
.process-item__text{
    color: white;
    font-family: "Open Sans";
    opacity: 0.75;
    text-align: center;
    margin-bottom: 20px;
    max-width: 80%
}
.process-item__btn{
    border: none;
    outline: 0;
    background-color: white;
    width: 228px;
    height: 55px;
    border-radius: 50px;
    margin-top: 133px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px $text-gray;
    cursor: pointer;
    p{
        font-size: 28px;
        opacity: 0.8;
    }
    span{
        font-size: 18px;
        margin-left: 10px;
        opacity: 0.8;
    }
}

.process-item__btn:hover{
    background-color: $orange-light; 
    margin-top: 130px;
    p, span{
        color : white;
    }
}
.process-item__btn:active{
    margin-top: 133px;
    background-color: $orange;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.05);
}
.process-btn-animations{
    animation: process-btn-animation 2.8s;
}
@media screen and (max-width :$desktop){
    .process-text{
        width: 80%;
        text-align: center;
    }
    .process-container{
        margin-bottom: 80px;
    }
    .process-section-item{
        width: 35%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width :$tablet){
    .process-item__btn{
        width: 30%;
        height: 45px;
        margin-top: 120px;
    }
    .process-item__btn:hover{
        margin-top: 117px;
    }
    .process-item__btn:active{
        margin-top: 120px;
    }
    .process-section-item{
        height: 245px;
        margin-left:5px;
        margin-top: 10px;
    }
}

@media screen and (max-width :$phone){
    .process-container{
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .process-section-item {
        width: 60%;
        margin: 0;
        margin-bottom: 30px;
    }
    .process-item__btn span {
        font-size: 14px;
        margin-left: 8px
    }
    .process-item__btn {
        width: 52%;
    }
}